<template>
  <div class="home">
    <navBar />
  </div>
</template>

<script>
// @ is an alias to /src
import navBar from "@/components/navBar";
export default {
  name: "Home",
  components: {
    navBar,
  },
};
</script>
