<template>
  <b-navbar toggleable="lg" type="dark" variant="lights">
    <b-navbar-brand class="ms-md-5 mx-auto" href="#">Foods Way</b-navbar-brand>
    <b-navbar-nav class="mx-md-3 mx-auto">
      <b-form-input
        class="my-2"
        placeholder="Search"
        size="sm"
      ></b-form-input>
      <b-button size="sm" class="my-2" type="submit">Search</b-button>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
export default {
  name: "navBar",
};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Yuji+Mai&display=swap');
nav{
  background-color: lightpink;
  a{
    color: red !important;
    font-size: 36px;
    font-weight: bolder;
    font-family: 'Yuji Mai', serif;
  }
}

</style>
